.sidebar {
    width: 16rem;
    height: 92.5%;
    position: fixed;
    padding: 1.25rem 2rem;
}

.main {
    width: 100%;
}

@media (max-width: 768px) {
    .main {
        padding: 0;

        #main-protected-inner-wrapper{
            width: 100%;
            padding-inline-start: 0.75rem;
            padding-inline-end: 0.75rem;
        }

        #quick-actions{
            padding-block-end: 5.5rem;
        }
    }
}